/* HEADER */
.cart-header--container {
  display: flex;
  padding: 18px 20px;
  background-color: var(--color-primary);
}
.cart-header--container h2 {
  text-align: center;
  width: 100%;
}

/* MAIN */
.cart-main--container {
  padding: 10px 15px 0;
}

/* BOX-SHADOW */
.cart-price--container,
.cart-products--container {
  box-shadow: 1px 1px 10px var(--color-rich-black-50);
  border-radius: 10px;
}

/* PRICE */
.cart-price--container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.cart-price--container h2,
.cart-price--container span {
  font-size: 20px;
  font-weight: 600;
}

/* PRODUCTS */
.cart-products--container {
  padding: 15px;
  margin-top: 15px;
}
.cart-item--container {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cart-item--info {
  display: flex;
  align-items: center;
}
.cart-item--info picture {
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--color-blue-sapphire);
  border-radius: 10px;
}
.cart-item--info picture img {
  width: 100%;
}
.cart-item--info__price {
  margin-left: 10px;
}
.cart-item--info__price h3 {
  font-size: 18px;
  font-weight: 500;
}
.cart-item--info__price span {
  font-size: 15px;
  font-weight: 400;
}

.cart-item--quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
}
.cart-item--quantity button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0 8px;
  min-height: 26px;
}
.cart-item--quantity button:first-child,
.cart-item--quantity button picture:first-child {
  display: flex;
  align-items: center;
}
.cart-icon--close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-buy--container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
.cart-buy--container a {
  padding: 10px;
  background-color: var(--color-blue-sapphire);
  font-size: 18px;
  font-weight: 600;
  color: var(--color-ghost-white);
  border-radius: 10px;
}