/* HEADER */
.cart-header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
  background-color: #9ba3eb;
  color: #fff;
}

.cart-header--container h2 {
  text-align: center;
  width: 100%;
}

/* MAIN */
.cart-main--container {
  padding: 10px 15px 0;
}

.cart-main--container .cart-price--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.cart-main--container .cart-price--container h2, .cart-main--container .cart-price--container span {
  font-size: 20px;
  font-weight: 600;
}

.cart-main--container .cart-products--container {
  padding: 15px;
  margin-top: 15px;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container {
  margin: 20px 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info picture {
  display: block;
  width: 100px;
  border-radius: 10px;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info picture img {
  width: 100%;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info .cart-item--info__price {
  margin-left: 10px;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info .cart-item--info__price h3 {
  font-size: 18px;
  font-weight: 500;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--info .cart-item--info__price span {
  font-size: 15px;
  font-weight: 400;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--quantity button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0 8px;
  font-size: 20px;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--quantity button:first-child, .cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-item--quantity button picture:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-main--container .cart-products--container .cart-products--items .cart-item--container .cart-icon--close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.cart-main--container .cart-buy--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 15px 0;
}

.cart-main--container .cart-buy--container button {
  padding: 10px;
  background-color: #9ba3eb;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.main--container {
  margin-bottom: 0;
}

.product--container {
  padding: 20px 10px;
  margin-top: 25px;
}

.product--container .product--main {
  margin-bottom: 20px;
}

.product--container .product--main picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.product--container .product--main picture img {
  height: 100%;
}

.product--container .product--main h2 {
  font-size: 22px;
  font-weight: 600;
}

.product--container .product--main h4 {
  font-size: 16px;
  font-weight: 400;
}

.product--container h3 {
  font-size: 20px;
  font-weight: 600;
}

.product--container p {
  font-size: 16px;
}

.product--container .product--info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product--container .product--info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}

.product--container .product--info button {
  background-color: #242f9b;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.product--container .product--info button picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

/* FOOTER */
.footer--product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}

.footer--product button {
  margin: 0 13px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.footer--product button#btnBack {
  background-color: #fff;
  border: 1px solid #393e46;
  color: #393e46;
}

.footer--product button#btnAgregarCarrito {
  background-color: #9ba3eb;
  border: none;
  color: #fff;
}

.products--container .products--title {
  text-align: center;
  font-size: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #393e46;
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  color: #242f9b;
  font-weight: 600;
  font-size: 1.6rem;
}

h4 {
  color: #393e46;
  font-weight: 400;
  font-size: 1.5rem;
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 10px #393e46;
          box-shadow: 1px 1px 10px #393e46;
  border-radius: 10px;
}

#app, #header {
  width: clamp(250px, 100%, 1200px);
  margin: auto;
}

/* NAV HADER */
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#header .nav--container {
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#header .nav--container .nav--menu .menu--btn {
  background: none;
  border: none;
  cursor: pointer;
}

#header .nav--container .nav--menu .menu--list {
  display: none;
  position: absolute;
  width: clamp(210px, 100%, 1200px);
  left: 0;
  background-color: #9ba3eb;
  padding: 20px;
}

#header .nav--container .nav--menu .menu--list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .nav--container .nav--menu .menu--list ul li {
  list-style: none;
  margin: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

#header .nav--container .nav--menu .menu--list ul li:hover {
  text-decoration: underline;
}

#header .nav--container .nav--menu .menu--list ul li.selected {
  cursor: not-allowed;
  color: #393e46;
}

#header .nav--container .nav--menu .menu--list ul li.selected:hover {
  text-decoration: none;
}

#header .nav--container .nav--search {
  background-color: #fff;
  border: 2px solid #9ba3eb;
  border-radius: 1em;
  position: relative;
  margin: 0 10px;
}

#header .nav--container .nav--search input {
  border-color: transparent;
  background-color: transparent;
  height: 30px;
  padding: 0 0 0 2em;
  color: #393e46;
}

#header .nav--container .nav--search input:focus {
  outline: none;
}

#header .nav--container .nav--search input::-webkit-input-placeholder {
  color: #393e46;
}

#header .nav--container .nav--search input:-ms-input-placeholder {
  color: #393e46;
}

#header .nav--container .nav--search input::-ms-input-placeholder {
  color: #393e46;
}

#header .nav--container .nav--search input::placeholder {
  color: #393e46;
}

#header .nav--container .nav--search button {
  background: none;
  border: none;
  cursor: pointer;
}

#header .nav--container .nav--search button picture {
  position: absolute;
  left: 5px;
  top: calc(50% - (21px / 2));
}

#header .nav--container .nav--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#header .nav--container .nav--cart button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main--container {
  padding: 0 20px;
  margin-bottom: 70px;
}

/* PRODUCTS */
.products--container {
  margin-top: 30px;
  padding: 20px;
}

.products--container .title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products--container .title--container .btnMostrarProductos {
  border: none;
  background: #9ba3eb;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.products--container .title--container .btnMostrarProductos:hover {
  color: #393e46;
}

.products--container .products--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 15px;
  margin-top: 24px;
}

.products--container .products--items .item--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products--container .products--items .item--container .btn-image--item {
  background: none;
  border: none;
}

.products--container .products--items .item--container .btn-image--item:hover {
  cursor: pointer;
}

.products--container .products--items .item--container .btn-image--item picture {
  display: block;
}

.products--container .products--items .item--container .btn-image--item picture img {
  border-radius: 10px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.products--container .products--items .item--container h3 {
  margin-top: 5px;
  text-align: center;
}

/* LOGIN */
.login--container {
  margin: 30px 0;
  padding: 12px 5px;
}

.login--container h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}

.login--container .login--actions .login--actions__btn {
  color: #fff;
  background-color: #9ba3eb;
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
  margin-top: 20px;
}

.login--container .login--actions .login--actions__btn:hover {
  color: #242f9b;
  cursor: not-allowed;
}

.login--container .login--actions p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.login--container .login--actions p a {
  color: #242f9b;
  font-weight: 600;
  margin-left: 20px;
}

.login--container .login--actions p a:hover {
  color: #9ba3eb;
  cursor: not-allowed;
}

/* FOOTER */
.footer--container header {
  background-color: #9ba3eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 10px 0 0;
  min-width: 100%;
  max-width: 1200px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--container header .footer--logo {
  margin-right: 15px;
}

.footer--container header h2 {
  color: #fff;
  font-size: 18px;
}

.footer--container main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
}

.footer--container main section:first-child {
  margin: 25px 0 20px;
}

.footer--container main section a {
  margin: 0 25px;
  font-size: 18px;
  font-weight: 600;
}

.footer--container main section a:hover {
  text-decoration: underline;
  cursor: not-allowed;
}
