* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #242F9B;
  --color-secondary: #393E46;
  --color-purple: #9BA3EB;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}
h3 {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.6rem;
}
h4 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 1.5rem;
}
.box-shadow {
  box-shadow: 1px 1px 10px var(--color-secondary);
  border-radius: 10px;
}

/* NAV HADER */
.nav--container {
  background-color: var(--color-white);
  width: 100%;
  padding: 1em 1.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.nav--search {
  background-color: var(--color-purple);
  border-radius: 1em;
  position: relative;
  margin: 0 10px;
}
.nav--search input {
  border-color: transparent;
  background-color: transparent;
  height: 30px;
  padding: 0 0 0 2em;
}
.nav--search input:focus {
  outline: none;
}
.nav--search input::placeholder {
  color: var(--color-primary);
}
.nav--search picture {
  position: absolute;
  left: 1em;
  top: calc(50% - (21px / 2));
}
.nav--notify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav--notify a {
  width: 30px;
  height: 30px;
}
.nav--notify a:first-child {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.main--container {
  padding: 0 15px;
  margin-bottom: 70px;
}

/* PRODUCTS */
.products--container {
  margin-top: 30px;
  padding: 10px 10px 50px;
}
.products--container .title--container {
  display: flex;
  justify-content: space-between;
}
.products--container .title--container a:hover {
  color: var(--color-purple);
}
.products--container .products--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 24px;
}
.products--container .products--items .item--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products--container .products--items .item--container a:hover {
  filter: blur(1px);
}
.products--container .products--items .item--container picture {
  width: 220px;
  height: 200px;
  display: block;
  border-radius: 15px;
}
.products--container .products--items .item--container picture img {
  width: 100%;
}
.products--container .products--items .item--container h3 {
  margin-top: 5px;
}

/* LOGIN */
.login--container {
  margin-top: 30px;
  padding: 12px 5px;
}
.login--container h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}
.login--container .login--actions .login--actions__btn {
  color: var(--color-ghost-white);
  background-color: var(--color-cyan-procces);
  width: 100%;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  font-size: 24px;
  margin-top: 20px;
}
.login--container .login--actions .login--actions__btn:hover {
  color: var(--color-blue-sapphire);
}
.login--container .login--actions p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
.login--container .login--actions p a {
  color: var(--color-cyan-procces);
  font-weight: 600;
  margin-left: 20px;
}
.login--container .login--actions p a:hover {
  color: var(--color-blue-sapphire);
}

/* FOOTER */
.footer--container header {
  background-color: var(--color-primary);
  display: flex;
  border-radius: 10px 10px 0 0;
  min-width: 100%;
  max-width: 1200px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
.footer--container header .footer--logo {
  margin-right: 15px;
}
.footer--container header h2 {
  color: var(--color-ghost-white);
  font-size: 18px;
}
.footer--container main section {
  display: flex;
  justify-content: center;
}
.footer--container main section:first-child {
  margin: 25px 0 20px;
}
.footer--container main section:nth-child(2) {
  margin-bottom: 30px;
}
.footer--container main section a {
  margin: 0 25px;
  font-size: 18px;
  font-weight: 600;
}
